.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;

    &__text{
        flex: 1;
        font-size: 1.6rem;
    }

    &__btn{
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    &__icon{
        font-size: 1.6rem;
    }
    
}